
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p><em>Volunteers R Us</em> is about people. We are a community that believes in the power of volunteering to enrich our lives and the world around us. We believe that in order to be strong, a community must be constantly evolving, increasingly active and evermore diverse. We are proud to be supporting a community interested in volunteering.</p>
                <p>We are about relationships. We are a service that brings good people and good causes together. We believe that the health of our community can be measured by the relationships formed between volunteers and the nonprofits they serve. Our aim is to build services that overcome the barriers that keep volunteers and nonprofits from finding each other, working together, and developing strong relationships.</p>
                <p>We are about cooperation. We are a network that is only as strong as the partnerships that support it. None of us can build a community alone. We take partnerships seriously and seek to work with nonprofit, business and governmental leaders committed to building stronger relationships with their constituents around volunteering and service.</p>
                <div class="well">
                    <blockquote>
                       <p>What if, somewhere on the internet, there was a community of people who believed in the power of volunteering to enrich our lives and the world around us?</p>
                    <p>What if, somewhere on the internet, millions of good people and good causes could come together to form relationships that serve us all?</p>
<p>What if, somewhere on the internet, technology was being used to advance the values and partnerships that strengthen our civil society?</p>

                        <footer>VolunteerMatch,
                        <cite title="Source Title">Quotes from various Volunteer Organizations on the Internet</cite></footer>
                    </blockquote>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Volunteers Matched     </dt>
                            <dd>3002</dd>
                            <dt style='white-space: normal;'>Volunteer Opportunities </dt>
                            <dd>890</dd>
                            <dt>Employees</dt>
                            <dd>10</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Corporate Leadership</h2>
               <ul class="media-list">
                <li class="media" ng-repeat="leader in leaders">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src={{leader.image}} alt="Peter Pan">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{leader.name}}
                        <small>{{leader.designation}}</small></h3>
                        <p>{{leader.description}}</p>
                    </div>
                </li>
            </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
    </div>
