<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Contact Us</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <h3>VolunteersRus Office Information</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <address style="font-size: 100%">
                      128, North Tryon Street<br>
                      Charlotte, NC<br>
                      USA<br>
                      <i class="fa fa-phone"></i>: +704 704 7040<br>
                      <i class="fa fa-fax"></i>: +704 704 8040<br>
                      <i class="fa fa-envelope"></i>:
                        <a href="mailto:volunteerRus@volunteer.com">volunteerRus@volunteer.com</a>
                   </address>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+7047047040"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Volunteers Information</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">

            <address style="font-size: 100%">
                      128, North Tryon Street<br>
                      Charlotte, NC<br>
                      USA<br>
                      <i class="fa fa-phone"></i>: +704 704 2040<br>
                      <i class="fa fa-fax"></i>: +704 704 3040<br>
                      <i class="fa fa-envelope"></i>:
                        <a href="mailto:volunteerRus@volunteer.com">volunteerRus@volunteer.com</a>
                   </address>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+7047042040"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Organizations Information</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">

            <address style="font-size: 100%">
                      128, North Tryon Street<br>
                      Charlotte, NC<br>
                      USA<br>
                      <i class="fa fa-phone"></i>: +704 704 1040<br>
                      <i class="fa fa-fax"></i>: +704 704 4040<br>
                      <i class="fa fa-envelope"></i>:
                        <a href="mailto:volunteerRus@volunteer.com">volunteerRus@volunteer.com</a>
                   </address>
        </div>
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+7047041040"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>


</div>
