<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Favorites</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>My Favorites</h3>
            <hr>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showVolunteerEvent">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showVolunteerEvent">
            <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
                {{showDetails ? 'Hide Details':'Show Details'}}
            </button>
            <button ng-click="toggleDelete()" class="btn btn-xs btn-primary pull-right" type="button">
                {{showDelete ? 'Hide Delete Button':'Show Delete Button'}}
            </button>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)" aria-controls="all menu" role="tab">Favorite Events</a></li>

            </ul>

            <div class="tab-content">
                <ul class="media-list tab-pane fade in active">
                    <li class="media" ng-repeat="favorite in favorites | filter:filtText">
                        <div class="media-left media-middle">
                            <a ui-sref="app.volunteereventdetail({id: favorite.volunteerevents.id})">
                                <img class="media-object img-thumbnail" ng-src={{favorite.volunteerevents.image}} alt="Event">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{favorite.volunteerevents.name}}</h2>
                            <p ng-show="showDetails">{{favorite.volunteerevents.description}}</p>
                            <br>
                            <p>
                                <h4><span class="glyphicon glyphicon-calendar"></span> {{favorite.volunteerevents.when}} &emsp; &emsp;&emsp;&emsp;&emsp;&emsp; &emsp; <span class="glyphicon glyphicon-globe"></span> {{favorite.volunteerevents.where}}</h4></p>
                            <button ng-show="showDelete" ng-click="deleteFavorite(favorite.id)" class="btn btn-xs btn-danger pull-right" type="button">
                                <i class="fa fa-remove"></i>
                            </button>
                            <button ng-click="addToRegisteredVolunteerEvents(favorite.volunteerevents.id,favorite.id)" class="btn btn-primary pull-left">Register</button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>
